body{
    font-size:'Open Sans', sans-serif;
}
/* banner section style */
.banner-section{ 
    background-image: url("img/Banner\ Image.png");
    background-repeat: no-repeat;
    margin:50px 280px 0px ;
    padding: 0px 0px 0px 0px;
}
.banner{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}
.happ{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin:0px;
    padding: 0px;
    
} 
.banner h3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin:0px;
}
/* banner section end */
.containe-2{
    margin: 10px 410px;
    padding: 50px;
    width: 800px;
    justify-content: center;
    text-align: center;
    height: 500px;
}
.section-for{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 52px;
    font-weight: 700;
    /* border: 3px solid firebrick; */
}
.took{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
    padding:0px;
}
.all{
    color: #070211;
   text-align: center;
   font-family: Inter;
   font-size: 48px;
   font-weight: 700;
   margin: 0px;
}
/* container-2 ses */
.contai{
    width: 1320px;
    height: 600px;
    margin: 300px 280px 0px;
    background-image: url('img/Vectorrr.png');
    background-repeat: no-repeat;
}
.wellcome{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}
.to{
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
}
.sit{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.jhon{
    width: 300px;
    height: 450px;
    background-color: #FDE67E;

}

