body{
    font-size:'Open Sans', sans-serif;
}
/* banner section style */
.banner-section{ 
    background-image: url("img/Banner\ Image.png");
    background-repeat: no-repeat;
    margin:50px 280px 0px ;
    padding: 0px 0px 0px 0px;
}
.banner{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 0px 0px 0px 0px;

}
.happ{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin:0px;
    padding: 0px;
    
} 
.banner h3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin:0px;
}
/* banner section end */

.section-for{
    color: #F00;
    display: flex;
    text-align: center;
    font-family: Inter;
    font-size: 52px;
    font-weight: 700;
    width: 30%;
    border: 3px solid firebrick;
}
.took{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
    padding:0px;
}
.all{
    color: #070211;
   text-align: center;
   font-family: Inter;
   font-size: 48px;
   font-weight: 700;
   margin: 0px;
}
